<section class="artists-section section-padding" style="position: relative;">
    <video autoplay loop muted playsinline style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1; filter: blur(0.1px);">
        <source src="video/colors4.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="container">
        <div class="row justify-content-center">

             <!-- Card 1 -->
    <div class="col-12 text-center">
        <h2 class="mb-4" style="color: white;">Our Mission</h2>
    </div>

    <div class="card" style="width: 18rem;" id="card1">
        <div class="card-body">
            <h5 class="card-title">Growth > Capacity </h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="card" style="width: 18rem;" id="card2">
        <div class="card-body">
            <h5 class="card-title">Networks</h5>
            <p class="card-text">We assist new entrants in building and expanding their networks within the market. Our service includes strategic introductions, partnership facilitation, and networking events to establish a robust presence in the industry.</p>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="card" style="width: 18rem;" id="card3">
        <div class="card-body">
            <h5 class="card-title">Time</h5>
            <p class="card-text">We offer outsourced talent management services, handling recruitment, onboarding, and talent development.</p>
        </div>
    </div>

        </div>
    </div>
</section>