<section class="artists-section section-padding" style="position: relative;">
    <video autoplay loop muted playsinline  style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;filter: blur(0.1px);">
        <source src="video/colors4.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-12 text-center">
                <h2 class="mb-4" style="color: white;">Our Solutions</h1>
            </div>

            <div class="col-lg-5 col-12">
                <div class="artists-thumb">
                    <div class="artists-image-wrap">
                        <img src="images/search.jpg"
                            class="artists-image img-fluid">
                            <div class="overlay">Growth > Capacity </div>
                    </div>
                    


                    <div class="artists-hover">
                       
                        <p>
                            
                            <strong>
                                Tailored solutions to help high-growth organizations efficiently manage resourcing demands. We provide scalable talent acquisition strategies and resources that adapt to your organization's growth trajectory.
                            </strong>
                           
                        </p>

                        
                    </div>

                    
                </div>
            </div>

            <div class="col-lg-5 col-12">
                <div class="artists-thumb">
                    <div class="artists-image-wrap">
                        <img src="images/growth.jpg"
                            class="artists-image img-fluid">
                            <div class="overlay">Networks</div>

                    </div>

                    <div class="artists-hover">
                        <p>
                            <strong>We assist new entrants in building and expanding their networks within the market. Our service includes strategic introductions, partnership facilitation, and networking events to establish a robust presence in the industry.</strong>
                           
                        </p>

                        
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-12">
                <div class="artists-thumb">
                    <div class="artists-image-wrap">
                        <img src="images/time.jpg"
                            class="artists-image img-fluid">
                            <div class="overlay">Time</div>

                        </div>

                    <div class="artists-hover">

                        <p>
                            <strong>We offer outsourced talent management services, handling recruitment, onboarding, and talent development.</strong>
                           
                        </p>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>