<section class="artists-section section-padding" style="background-color: #253336;">
  <h2 class="mb-4 text-center" style="color: white;">Our Team</h1>

  <div id="teamCarousel" class="owl-carousel owl-theme">
    <!-- Team Member 1 -->
    <div class="item">
      <div class="card">
        <img src="images/adit_mehta.jpeg" class="card-img-top team-member-img" alt="Team Member 1">
        <div class="card-body text-center">
          <p class="team-member-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada feugiat.</p>
        </div>
      </div>
    </div>

    <!-- Team Member 2 -->
    <div class="item">
      <div class="card">
        <img src="images/Shaun_Mogul.jpg" class="card-img-top team-member-img" alt="Team Member 2">
        <div class="card-body">
          <p class="team-member-description">
              <!-- <p> -->
                  <!-- <h2 style="color: white;">Co-Founder & Director</h2> -->
                  <!-- <strong style="color: white;">Shaun has dedicated his career towards working in emerging markets across Africa, Asia and Middle-East to help overcome key barriers that hinder economic and social development. -->
                      <br>
                      <br>
                      Shaun previously worked at a headhunting firm where he led their EMEA practice. His role focused on expanding the client base of the business in emerging markets, while managing the team.
                      <br>
                      <br>
                      Prior to that, Shaun worked with Arsenal Football Club in Uganda where he designed and led multiple initiatives focused on delivering social impact projects through sport. 
                      <br>
                      <br>
                      Driven by the belief of the potential that emerging markets hold, Shaun co-founded Inuka to address one of the key constraints when it comes to the development of economies - helping businesses find top tier talent.</strong>
                 
              <!-- </p> -->
          </p>
        </div>
      </div>
    </div>

    <!-- Team Member 3 -->
    <div class="item">
      <div class="card">
        <img src="images/tvisha_kapoor.jpg" class="card-img-top team-member-img" alt="Team Member 3">
        <div class="card-body text-center">
          <p class="team-member-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada feugiat.</p>
        </div>
      </div>
    </div>

    <!-- Team Member 4 -->
    <div class="item">
      <div class="card">
        <img src="images/melissa_ngige.jpeg" class="card-img-top team-member-img" alt="Team Member 3">
        <div class="card-body text-center">
          <p class="team-member-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada feugiat.</p>
        </div>
      </div>
    </div>
     
    <!-- Add more team members as needed -->
  </div>
   <!-- Add left and right arrow icons -->
   <div class="arrows-container" style="position: absolute; right: 10%;">
  <img src="images/buttons/left.svg" style="width: 50px;" alt="">
  <img src="images/buttons/right.svg" style="width: 50px;" alt="">
  </div>


</section>